/* 
** Bootstrap Overrides
*/
body {
	font-family: "Roboto";
	color: black;
	
	a {
		transition: all .3s ease-in-out;
	}
}
:focus, button:focus {
	outline: none;
}
body ol, body ul, body dl {
	@extend p;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0;
	color: black;
}
h1, h2 {
	font-family: $font-family-alt;
	text-transform: uppercase;
}
h3 {
	text-transform: uppercase;
	font-weight: bold;
}
.btn {
	padding: .75rem 2.2rem;
    text-transform: uppercase;
    border-radius: 0;
    font-weight: 700;
    background-color: $brand-xtreme;
	border-color: $brand-xtreme;
	color: white;
}
.btn:hover, .btn:active, .btn-primary:not(:disabled):not(.disabled):active {
	background-color: white;
	border-color: $brand-xtreme;
	color: $brand-xtreme;
}
.btn-primary {
	-webkit-transform:skew(-21deg);
	-moz-transform:skew(-21deg);
	-o-transform:skew(-21deg);
	transform:skew(-21deg);
	
	& > span { 
		display: inline-block; 
		transform: skew(21deg); 
	}
}
.btn-white {
	background-color: white;
	border-color: white;
	color: black;
	
	&:hover {
		background-color: black;
		border-color: black;
		color: white;
	}
}
.btn-lg {
	padding: .8rem 2.3rem;
	font-size: 1.1em;
}
.btn-secondary:hover {
	background-color: white;
	border-color: black;
	color: black;
}
.btn-normal {
	-webkit-transform:skew(0);
	-moz-transform:skew(0);
	-o-transform:skew(0);
	transform:skew(0);	
}

/* 
** Helpers
*/
.fade-in {
	-webkit-animation-name: slideNav;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode:forwards;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	animation-fill-mode:forwards;
}
.box {
	background-color: white;
}
.box-sm {
	padding: 1em;
}
.box-lg {
	padding: 2em;
}
.s, .sb {
	position: relative;	
}
.s {
	box-shadow: $shadow;
}
.sb {
	box-shadow: $shadow-bottom;
}
.text-md {
	font-size: $font-size-lg;
}
.text-sm {
	font-size: $font-size-sm;
}
.text-xs {
	font-size: $font-size-xs;
}
.text-thin {
	font-weight: 300;
}
.color-brand {
	color: $brand-xtreme;
}
.bg-rehz {
	background-color: $brand-rev-primary;
}
.bg-primis {
	background-color: $brand-primis-primary;
}
.title {
	color: $brand-xtreme;
	font-size: 3.0em;
	
	a {
		font-size: $font-size-sm;
	}
}
.subtitle {
	color: $gray-600;
	font-family: 'Roboto';
	text-transform: none;
	font-weight: 500;
	line-height: 34px;
}
.img-full {
	width: 100%;
    height: 100% !important;
    min-width: 370px;
    object-fit: cover;
    font-family: 'object-fit: cover;';
}
@media(max-width: 767px) {
	.img-full {
		min-width: 100%;
	}
}
/* 
** Global Header
*/
#header-global {
	background-color: black;
	border-bottom: 1px solid $border-color;
	
	a {
		font-family: $font-family-alt;
		color: white;
		text-transform: uppercase;
		font-size: 1rem;
		text-decoration: none;
		font-weight: 500;
	}
	#header-logo {
		img {
			height: 42px;
		}
	}
	#header-global-stores {
		div {
			border-right: 1px solid $border-color;
			text-align: center;
			margin: 0;
			
			&:first-child {
				border-left: 1px solid $border-color;
			}
			a {
				display: block;
				background-color: $brand-gray-dark;
				height: 58px;
				line-height: 58px;	
				padding: 0 20px;	
						
			}
			.active, a:hover {
				background-color: $brand-gray-medium;
			}
			img {
				height: 15px;
			}
		}		
	}
	.menu-top-links-container, .menu-top-links-logged-in-container {
		font-size: $font-size-xs;
		text-align: right;
		
		ul {
			margin: 0;
			
			.list-inline-item:not(:last-child) {
			    margin-right: .9rem;
			}
		}
		a:hover {
			color: darken(#ffffff, 10);
		}
	}
	.cart-container {
		display: inline-block;
		height: 58px;
		line-height: 58px;
		background-color: $brand-gray-light;
		text-align: center;
		padding: 0 15px;
		
		img {
			height: 15px;
			margin: 0 8px 5px 0;
		}
		.fas {
			margin-left: 6px;
		}
		&:hover {
			background-color: darken($brand-gray-light, 10);
		}
	}
	.shiftnav-toggle-button {
		background: #000000;
		padding: 0;
		line-height: 100%;
	}
}
#header-nav {
	background-color: $brand-gray-medium;
	
	ul {
		padding: 1em 0;
	}
	li:not(:last-child) {
		border-right: 1px solid $border-color;
		padding-right: 2em;
		margin-right: 2em;
	}
	li {
		a {
			color: white;
			font-family: $font-family-alt;
			text-transform: uppercase;
			
			&:hover {
				text-decoration: none;
			}
			.fas {
				color: $brand-rev-primary;
				font-size: .7em;
				margin-right: .6em;
			}
		}
	}
	h1 {
		font-size: $font-size-h1-small;
		color: white;
		font-family: $font-family-alt;
		text-transform: uppercase;
	}
	#header-phone {
		font-family: $font-family-alt;
		color: white !important;
		text-align: center;
		
		a:hover {
			text-decoration: none;
		}
	}
	#header-search {
		padding: 0;
		min-width: 400px;
				
		a {
			color: white;
		}
		#search-text {
			background-color: transparent;
			border: none;
			display: none;
		}
		.sb-search-open #search-text {
			background-color: $gray-400;
		}
		.search-form .form-group input.form-control::-webkit-input-placeholder,
		.search-form .form-group input.form-control::-moz-placeholder {
			display:none;
		}
		form {
		  width:100%;
		}
		.form-group {
			position:relative;
			width:0%;
			min-width:58px;
			height: 60px;
			overflow:hidden;
			transition: width 1s;
			backface-visibility:hidden;
			margin: 0 1em 0 0;
			
			input.form-control {
				position:absolute;
				top:0;
				right:0;
				outline:none;
				width:100%;
				height: 60px;
				margin:0;
				z-index:10;
			}
		}
		input[type="text"].form-control{
			-webkit-appearence:none;
			-webkit-border-radius:0;
		}
		.form-control-submit,
		.search-label{
			width: 58px;
			position:absolute;
			right:0;
			top:0;
			padding:0;
			margin:0;
			text-align:center;
			cursor:pointer;
		}
		.form-control-submit{
			background:#fff; 
			opacity: 0;
			color:transparent;
			border:none;
			outline:none;
			z-index:-1;
		}
		.search-label{
			z-index:90;
		}
		.form-group.sb-search-open,
		.no-js .sb-search-open{
			width:100%;
		}
		.form-group.sb-search-open .search-label,
		.no-js .sb-search .search-label {
			background: $gray-800;
			color: #fff;
			z-index: 11;
		}
		.form-group.sb-search-open .form-control-submit,
		.no-js .form-control .form-control-submit {
			z-index: 90;
		}
		.fas {
			color: white;
		}
	}
}
@media (max-width: 767px) {
	#header-global {
		.cart-container {			
			img {
				height: 25px;
			}
		}
	}
	#header-nav {
		padding: 1em 0;
	}
}
@media (max-width: 576px) {
	#header-global {
		.cart-container {
			padding: 0;
			background-color: transparent;
			height: auto;
			line-height: inherit;
						
			img {
				margin: 0;
			}
		}
	}	
}
/* 
** Part - Background Image
*/
.bg-img {
	background-size: cover;
	background-repeat: none;
	background-position: center center;
	@extend .fade-in;
}
.bg-overlay {
	position: absolute;
    background: radial-gradient(rgba(0,0,0,.5),rgba(0,0,0,.2));
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
.bg-img-content {
	position: relative;
}
#section-brands {
	.bg-overlay {
		background: linear-gradient(180deg,rgba(0,15,30,0) 0%,rgba(0,15,30,.45) 75%,rgba(0,15,30,.8) 100%);
	}
	.bg-img {
		min-height: 600px;
	}
}

/* 
** Global Store
*/
#global-store-container {
	background-color: #F1F1F1;
	padding: 2.5em 0;
}

/* 
** Global Page
*/
.entry-title {
	margin-bottom: 1.5em;
}
.entry-content {
	h2 {
		margin-bottom: 1em;
	}
	h3 {
		margin-bottom: .8em;
	}
	img {
		@extend .img-fluid;
		margin-bottom: 1em;
	}
}
/* 
** Component - Hero Banner 
*/
#section-hero-banner {
	height: 500px;
	background-color: black;

	.bg-img-content {
		
		h4 {
			font-size: .9em;
			font-family: $font-family-alt;
			text-transform: uppercase;
		}
		h2 {
			font-size: 4em;
			text-transform: uppercase;
			font-family: $font-family-alt;	
		}
		a {
			margin: 0 auto;
			max-width: 250px;
		}
	}
	.hero-banner-text {
		width: 45%;
	    padding: 0;
	    max-width: none;
	    height: 100%;
	    margin: auto;
	    position: relative;
	    
	    .hero-banner-text-inner {
			max-width: 550px;
			margin-left: auto;
			margin-right: 55px;
			position: relative;
			top: -8px;
			padding-left: 32px;
	    }
	}
	
	@media (max-width: 767px) {
		.bg-img-content {
			h2 {
				font-size: 2.5em;
			}
		}
	}
}


/* 
** Component - Value Bar 
*/
#section-value-bar {
	padding: 1.5em 0;
	font-size: $font-size-sm;
	font-weight: bold;
	
	li:not(:last-child) {
		margin-right: 2rem;
	}
}
@media(max-width: 768px) {
	#section-value-bar {
		li:first-child {
			margin-right: 0;
		}
		li:not(:first-child) {
			display: none;
		}
	}
}

/* 
** Component - Store Sidebar 
*/
#store-sidebar {
	@extend .box;
	@extend .box-sm;
	
	.widgettitle {
		font-size: 1em;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 1em;
	}
	.wcpf-field-price-slider.wcpf-display-min-max-inputs .wcpf-max-input, .wcpf-field-price-slider.wcpf-display-min-max-inputs .wcpf-min-input {
		@extend .form-control;
		width: calc( 30% - 4px);
		border-color: $gray-400;
		border-radius: 0;
		font-size: $font-size-sm;
	}
	.wcpf-field-price-slider .ui-slider .ui-slider-range {
		background-color: $brand-rev-primary;
	}
}

/* 
** Component - Tire Finder
*/
#section-tire-finder {
	@extend .box;	
}

/* 
** Component - Schedule Event
*/
.schedule-list-item:nth-child(even) {
	background-color: $gray-200;
}
.schedule-list-date {
	font-weight: 700;
	font-size: $font-size-lg;
}
.schedule-list-additional {
	font-size: $font-size-sm;
	color: $gray-800;
	border-top: 1px solid $gray-400;
	padding-top: 1em;
	
	p:last-child {
		margin-bottom: 0;
	}
}
/* 
** Plugin - Woocommerce
*/
.wc_payment_method payment_method_stripe label {
	width: 100%;
}
.woocommerce {
	
	#resale_account {
		width: 100px;
	}
	#wc-stripe-payment-request-wrapper {
		width: 100px !important;
		margin-bottom: 1em !important;
		padding-top: 0em !important;
	}
	#shipping_country_field {
		display: none;
	}
	.quantity_select {
		min-width: 70px;
	}
	.wcpf-filter-notes .wcpf-note-list .wcpf-note-item {
		background-color: white;
		padding: 5px 15px 5px 5px;
	}
	@media (max-width: 768px) {
		.wcpf-filter {
			display: none;
			
			&.show {
				display: block;
			}
		}
	}
	@media (max-width: 576px) {	
		.woocommerce-result-count, .wcpf-filter-notes {
			display: none;
		}
		.woocommerce-ordering {
			width: 100%;
		}
	}
	select {
		@extend .custom-select;
		background: white;
	}
	a.button {
		border: 1px solid black;
		background-color: black;
		color: white;
	}
	a.button:hover {
		background-color: white;
		color: black;
	}
	.shop_table {
		border: none;
		font-size: $font-size-sm;
		
		th {
			padding-left: 0;
		}
	}
	.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
		display: none;
	}
	.woocommerce-info, .woocommerce-notices-wrapper {
		font-size: $font-size-sm;
	}
	.woocommerce-info {
		border-top-color: $brand-xtreme;
	}
	button.button, button.button.alt {
		@extend .btn;
	}
	button.button.alt:hover {
		    background-color: white;
			border-color: #20376d;
			color: #20376d;
	}
	.woocommerce-orders-table__cell-order-actions {
		.button {
			margin-right: 5px;
		}
	}
	.woocommerce-breadcrumb {
		margin: 0;
		padding: 1.2em 0;
		font-size: $font-size-sm;
		color: black;
		font-weight: bold;
		@extend .sb;
		
		a {
			display: inline-block;
			margin-right: 1em;
			color: black;
			
			&:not(:first-child) {
				margin-left: 1em;
			}
			&:hover {
				text-decoration: none;
				color: $gray-700;
			}
		}
		.fas {
			color: black;
			font-size: $font-size-xs;
			
			&:last-child {
				margin-right: 1em;
			}
		}
	}
	.woocommerce-message {
		border-top-color: $brand-xtreme;
		background-color: white;
		background-color: $gray-200;
		font-size: $font-size-sm;
		
		&:before {
			color: black;
		}
		.button:hover {
			border: 1px solid black;
		}
	}
	.woocommerce-form-coupon-toggle, .woocommerce-form-login-toggle {
		margin-bottom: 2em;
		
		.woocommerce-info {
			padding-bottom: 1em;
			margin: 0;
		}
	}
	form.woocommerce-form-coupon, form.woocommerce-form-login, form.woocommerce-form-register {
		margin-top: 0em;
		border: none;
		background-color: #F7F6F7;
		border-radius: none;
		
		p {
			font-size: $font-size-sm;
			margin-bottom: .5em;
		}
		h3 {
			margin-top: 2em;
		}
	}
	.woocommerce-info::before {
		color: $brand-xtreme;
	}
	div.products {
				
		div.product {
			@extend .box;
			@extend .box-sm;
			@extend .s;
			
			&.product-lg {
				a:hover {
					text-decoration: none;
				}
				h2.woocommerce-loop-product__title {
					@extend h1;
					line-height: 50px;
					margin-bottom: .2em;
					color: $brand-xtreme;
				}
				.price {
					margin: 0 0 1em 0;
				}
				p {
					margin-bottom: 1em;
				}
				ul {
					list-style: inherit;
					margin-left: 1em;
					
					li {
						list-style: inherit;
					}
				}
			}
			.woocommerce-loop-product__link:hover {
				text-decoration: none;
			}							
			img {
				margin: 0 auto;
				display: block;
			}
			.price {
				font-family: $font-family-alt;
				font-size: $font-size-base;
				color: #000;
				font-weight: bold;
				margin-top: 1.5em;
				@extend .justify-content-between;
				display: block;
			}	
			.woocommerce-loop-product__title {
				font-size: $font-size-sm;
				text-transform: uppercase;
				padding-top: 0;
			}	
			span.onsale {
			    top: 280px;
				left: 0px;
				background-color: $red;
				width: 100%;
				border-radius: 0;
				min-height: 2em;
				margin: 0;
				font-size: .657em;
				line-height: inherit;
				text-transform: uppercase;
			}
			@media(max-width: 1024px) {
				span.onsale {
					top: 0;
				}
			}
		}
	}
	div.product {
		label {
			font-weight: bold;
		}
		select {
			font-size: $font-size-sm;
			font-weight: bold;
			color: $gray-600;
			@extend .form-control;
			@extend .form-control-lg;
		}
		#product-top {
			@extend .box;
			@extend .box-sm;
			@extend .s;

			.images {
				float: none;
				width: 100%;
				margin: 0;
				
				.flex-viewport {
					width: 85%;
					float: right; 
					@extend .h-100;
					
					img {
						width: auto;
						max-height: 600px;
						margin: auto;
					}
				 }
				.flex-control-thumbs {
					width: 10%;
					float: left;
					
					li {
						width: 100%;
						
						img {
							float: none;
							margin: 0 0 1em 0;
						}
					}	
				}
			}	
			.summary {
				width: 100%;
				height: 100%;
				float: none;
				background-color: $gray-200;
				padding: 3em;
				margin-bottom: 0;
				
				&:before, &:after {
					display: block;
				    content: "";
				    position: absolute;
				    background-color: #000;
				}
				&:before {
					top: 0;
				    left: 8px;
				    width: 10px;
				    height: 100%;
				}
				&:after {
					top: 50%;
					left: 12px;
					width: 12px;
					height: 12px;
					margin-top: -4px;
					-webkit-transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					-o-transform: rotate(45deg);
					transform: rotate(45deg);
					visibility: visible;
				}
				.product_title, .price {
					font-family: $font-family-alt;
					font-weight: bold;
				}
				.price {
					font-size: $font-size-lg;
					color: black;
					
					div:first-child {
						padding-right: 1em;
					}
					del {
						color: $gray-600;
					}
				}
				form.cart {
					margin-bottom: 0;
					
					.reset_variations {
						display: none;
					}
					.button {
						float: right;
						@extend .btn;
						@extend .btn-primary;
					}
				}
				.product_meta {
					display: none;
				}
				.woocommerce-variation-price {
					margin-bottom: 1em;
				}
			}
		}
		#product-bottom {
			& > h2 {
				font-family: $font-family-alt;
			}
			.woocommerce-tabs {
				ul.tabs {
					margin: 0;
					padding: 0;
					border: none; 
					overflow: visible;
					
					&:before {
						display: none;
					}
					li {
						background-color: transparent;
						border: none;
						text-transform: uppercase;
						font-weight: bold;
						border-radius: 0;
						font-size: $font-size-sm;
						padding: 1em 6em;
						margin: 0 -5px 0 0;
						border-bottom: 4px solid  transparent;
						@extend .s;
						
						&.active {
							background-color: white;
							border-bottom-color: #000;
							box-shadow: none;
						}
						&:before, &:after {
							display: none;
						}
						a {
							
						}
					}
				}
				.panel {
					@extend .box;
					@extend .s;
					@extend .p-2;
					margin:  0;
					
					.tirefeatures__title {
						font-weight: bold;
						margin-botto: 1em;
					}
					.tirefeatures__feature-descr {
						font-size: $font-size-sm;
					}
					h2 {
						font-size: $h4-font-size;
						font-weight: bold;
						margin-bottom: 1em;
					}
					ul, ol {
						list-style: none;
						padding: 0;
						
						
						div {
							display: inline-block;
						}
					}
					li {
						padding-left: 1.5em;
					}
					li:before {    
					    font-family: 'FontAwesome';
					    font-size: $font-size-xs;
					    content: '\f054';
						display: inline-block;
						margin-left: -1.5em;
						width: 1.5em;
					}
					.list-inline-item:before {
						display: none;
					}
				}
			}
		}
	}
	&.single-product {
		.onsale {
			display: none;
		}
	}
	#footer-value-bar {
		background-color: black;
		
		li:not(:last-child) {
			margin-right: 5em;
		}
		a {
			font-family: $font-family-alt;
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			
			&:hover {
				text-decoration: none;
			}
		}
		.far {
			font-size: $font-size-lg;
			margin-right: .3em;
		}
	}
	form {
		.form-row {
			display: block;
		}
		.woocommerce-SavedPaymentMethods-saveNew {
			padding: 0;
		}
	}
	input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="date"], select, textarea,  {
		@extend .form-control;
	}
	.select2-container--default .select2-selection--single {
		border-color: #ced4da;
	}
	.select2-container .select2-selection--single {
		height: 40px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 40px;
	}
	.woocommerce-table__line-item {
		td {
			text-align: left;
		}
		.wc-item-meta {
			padding: 0;
		}
	}
	.woocommerce-customer-details .woocommerce-customer-details--phone::before, .woocommerce-customer-details .woocommerce-customer-details--email::before {
		font-family: $font-family-alt;
		font-weight: bold;
	}
	.woocommerce-customer-details {
		.woocommerce-customer-details--phone::before {
			content: 'P:';
		}
		.woocommerce-customer-details--email::before {
			content: 'E:';
		}
		address {
			padding: 0;
			border: none;
		}
	}
}
.woocommerce-cart {
	table.cart {
		.product-thumbnail {
			width: 20%;
			
			img {
			 	width: auto;
			}
		}
		.product-name {
			color: black;
			font-weight: bold;
			font-size: $font-size-lg;
			
			.variation {
				line-height: 1.5em;
				margin: .5em 0;
			}
			.variation, .link {
				font-weight: normal;
				font-size: $font-size-sm;
			}
		}
		tr:not(.cart_item) {
			display: none !important;
		}
	}
	.product-price, .product-subtotal {
		font-weight: bold;
	}
	.cart-help {
		border: 1px solid $gray-300;
		
		li {
			font-size: $font-size-sm;
		}
	}
	.cart-collaterals {
		.cart_totals {
			 width: 100%;
			 
			h2 {
				font-size: $font-size-base;
				font-weight: bold;
			}
		}
	}
}
.wc-proceed-to-checkout {
	text-align: right;
	margin-bottom: 0;
}
.woocommerce-order-pay {
	#order_review {
		@extend .row;
		@extend .justify-content-center;
		.shop_table {
			@extend .col-md-6;
			margin-right: 15px;
			
			td {
				text-align: left;
			}
		}
		#payment {
			@extend .col-md-4;
		}
	}
}
body {
	.woocommerce-checkout {
		#payment {
			div.payment_box {
				margin: 1em 0 0 0;
				
				input.js-sv-wc-payment-gateway-credit-card-form-input[type="tel"], input.js-sv-wc-payment-gateway-echeck-form-input[type="tel"],
				input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"], input.js-sv-wc-payment-gateway-echeck-form-input[type="text"] {
					@extend .form-control;
				}
			}
		}
	}
}
.woocommerce-checkout {
	#payment ul.payment_methods li input, #order_review ul.payment_methods{
		 margin-right: .5em;
	}
	.woocommerce-checkout-payment img, #order_review img {
		display: none !important;
	}
	.woocommerce-checkout-payment label[for="ach-auth"], #order_review label[for="ach-auth"],
	.woocommerce-checkout-payment .wc-intuit-payments-credit-card-new-payment-method-form label,
	#order_review label[for="payment_method_intuit_payments_credit_card"],
	.woocommerce-checkout-payment .wc-intuit-payments-echeck-new-payment-method-form label,
	#order_review label[for="payment_method_intuit_payments_echeck"] {
	    line-height: 18px !important;
	    font-weight: normal;	
	    margin-bottom: 0;	
	}
	.payment_box payment_method_ach_stripe img, #order_review payment_method_ach_stripe img {
		display: none !important;
	}
	.woocommerce-checkout-payment .wc_payment_methods label, #order_review .wc_payment_methods label {
		font-size: 12px;
	}
	.woocommerce-checkout-payment .wc_payment_methods select {
		display: block;	
	}
	.woocommerce-checkout-payment label[for="ach-country"], .woocommerce-checkout-payment label[for="ach-currency"], #order_review label[for="ach-country"], #order_review label[for="ach-currency"]{
		display: none !important;
	}
	#wc-stripe-cc-form br {
		display: none;
	}
	#ach-account-holder-type {
		width: 100% !important;
	}
	input#ach-auth {
		margin-right: 5px !important;
	}
	.woocommerce-SavedPaymentMethods-saveNew label {
		font-size: $font-size-xs;
		font-weight: normal !important;
		line-height: $line-height-sm;
	}
	.woocommerce-checkout #payment ul.payment_methods li input#wc-stripe-new-payment-method {
		margin-right: .5em;
	}
	.woocommerce-privacy-policy-text {
		p {
			margin-bottom: 0;
		}
	}
	#ship-to-different-address{
		display: none;
	}
	td {
		text-align: right;
	}
	label {
		font-weight: bold;
	}
	.woocommerce-additional-fields {
		margin-top: 0em;
	}
	#ship-to-different-address{
		font-size: $font-size-base;
	}
	table.woocommerce-checkout-review-order-table {
		thead, tbody {
			display: none;
		}
		tfoot th, tfoot td {
			border: none;
		}
	}
	.woocommerce-checkout-payment {
		button {
			@extend .btn-block;
		}
	}
	.woocommerce-terms-and-conditions-wrapper {
		font-size: $font-size-xs;
	}
	.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
		border-color: #ced4da; 	
	}
	.order-confirmation {
		border-bottom: 1px solid $gray-300;
	}
	#order_review_heading {
		display: none;
	}
}
.woocommerce-account {
	
	.form.register  {
		margin-top: 0;
	}
	.woocommerce-sidebar-nav {
		padding: 0;
		
		a {
			font-family: $font-family-alt;
			color: black;	
		}				
		.is-active {
			@extend .active;
			
			a {
				color: white;
			}
		}
	}
	p {
		font-size: $font-size-sm;
	}
	mark {
		background-color: transparent;
		font-weight: bold;
	}
	em {
		font-size: $font-size-xs;
	}
	legend {
		@extend h3;
		padding-top: 1em;
	}
}	

@media(max-width: 767px) {
	.woocommerce {
		div.product {
			#product-top {
				
				.summary {
					padding: 1.5em;
					.product_title, .price {
						font-size: $font-size-lg;
					}
				}
			}
			#product-bottom {
				& > h2 {
					text-align: center;
				}
				.tabs {
					display: none;
				}
			}
		}
		.woocommerce-error, .woocommerce-info, .woocommerce-message {
			padding: 2em;
		}
		#resale_account {
			width: 100%;
		}
	}
	#footer-value-bar {
		.container {
			padding: 0;
		}
		li {
			width: 100%;
			margin-right: 0;
		}
		li:not(:last-child) {
			border-bottom: 1px solid #333;
			margin-bottom: 1em;
			padding-bottom: 1em;
		}
		.far {
			display: none;
		}
	}
	.woocommerce-sidebar-nav {	
		.navbar-toggler {
			font-size: $font-size-base;
			color: white;
			
			&:hover {
				color: $brand-xtreme;
			}
		}
		#woocommerce-MyAccount-navigation {
			&.show {
				display: block !important;
			}
			a:first-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
}

/* 
** Section - Footer Top
*/
#section-footer-top {
	background-color: $gray-400;
}


/* 
** Section - Footer
*/
#footer {
	background-color: black;
	color: white;
	font-size: $font-size-sm;
	
	.btn-primary {
		background-color: white;
		border: white;
		color: black;
	}
	#footer-divider-wrapper {
		padding: 0 0 3em 0;
		
		.footer-divider {
			border-top: 1px solid $gray-800;
			position: relative;
			
			img {
				position: relative;
				top: -14px;
				width: 185px;
			}
		}
	}
	#footer-boxes {
		.footer-box {
			padding: 2em;
			background-color: #1E1E1E;
			color: white;
			
			.footer-box-title {
				font-weight: bold;
				text-transform: uppercase;
				line-height: 1.5em;
			}
			.field_sublabel_below {
				text-align: center;
			}
			form {
				@extend .d-flex;
				@extend .align-content-end;
				
				input {
					height: 50px;
				}
			}
			.gform_body {
				@extend .flex-grow-1;
				
				.gfield_label {
					display: none;
				}
				input[type=email] {
					background-color: transparent;
					border: 1px solid #B3B3B3;
				}
				ul.gform_fields li.gfield {
					padding-right: 0;
				}
			}
			.gform_footer {
				@extend .col-auto;
				@extend .align-self-baseline;
				@extend .p-0;
				
				.btn {
					webkit-transform: none;
				    -moz-transform: none;
				    -o-transform: none;
				    transform: none;
				    height: 50px;
				    padding: .75rem 1.2rem;
				}
			}
			a:hover {
				text-decoration: none;
			}
		}
	}
	#footer-brands {
		
		img {
			max-height: 20px;
		}
	}
}
#footer-bottom {
	background-color: #1E1E1E;
	color: #666666;
	font-size: $font-size-xs;
	text-transform: uppercase;
	
	a {
		color: #666666;
	}
}
@media (max-width: 767px) {
	#footer {
		#footer-divider-wrapper {
			padding-bottom: 1em;
		}
		
	}
	#footer-bottom {
		span {
			display: block;
		}
		a:not(:last-child) {
			padding: 1em 2em;
			display: inline-block;
		}
		.fas {
			display: none;
		}
	}
}
#countdown {
	background: url(/wp-content/uploads/2019/04/rehv-sample.jpg) no-repeat;
	background-size: cover;
	min-height: 1000px;
}
/* Flipdown.js */

/********** Theme: light **********/
/* Font styles */
.flipdown.flipdown__theme-light {
  font-family: sans-serif;
  font-weight: bold;
}
/* Rotor group headings */
.flipdown.flipdown__theme-light .rotor-group-heading:before {
  color: #EEEEEE;
}
/* Delimeters */
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #DDDDDD;
}
/* Rotor tops */
.flipdown.flipdown__theme-light .rotor,
.flipdown.flipdown__theme-light .rotor-top,
.flipdown.flipdown__theme-light .rotor-leaf-front {
  color: #222222;
  background-color: #DDDDDD;
}
/* Rotor bottoms */
.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-rear {
  color: #333333;
  background-color: #EEEEEE;
}
/* Hinge */
.flipdown.flipdown__theme-light .rotor:after {
  border-top: solid 1px #222222;
}

.flipdown {
  overflow: visible;
  width: 510px;
  height: 110px;
}

.flipdown .rotor-group {
  position: relative;
  float: left;
  padding-right: 30px;
}

.flipdown .rotor-group:last-child {
  padding-right: 0;
}

.flipdown .rotor-group-heading:before {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
  content: 'Days';
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
  content: 'Hours';
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
  content: 'Minutes';
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
  content: 'Seconds';
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 115px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  content: '';
  position: absolute;
  bottom: 50px;
  left: 115px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.flipdown .rotor {
  position: relative;
  float: left;
  width: 50px;
  height: 80px;
  margin: 0px 5px 0px 0px;
  border-radius: 4px;
  font-size: 4rem;
  text-align: center;
  perspective: 200px;
}

.flipdown .rotor:last-child {
  margin-right: 0;
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 40px;
}

.flipdown .rotor-leaf {
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 80px;
  transform-style: preserve-3d;
  transition: transform 0s;
}

.flipdown .rotor-leaf.flipped {
  transform: rotateX(-180deg);
  transition: all 0.5s ease-in-out;
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 0;
  transform: rotateX(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.flipdown .rotor-leaf-front {
  line-height: 80px;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-leaf-rear {
  line-height: 0px;
  border-radius: 0px 0px 4px 4px;
  transform: rotateX(-180deg);
}

.flipdown .rotor-top {
  line-height: 80px;
  border-radius: 4px 4px 0px 0px;
}

.flipdown .rotor-bottom {
  bottom: 0;
  line-height: 0px;
  border-radius: 0px 0px 4px 4px;
}

.flipdown .rotor:after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50px;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
}

@media (max-width: 550px) {

  .flipdown {
    width: 312px;
    height: 70px;
  }

  .flipdown .rotor {
    font-size: 2.2rem;
    margin-right: 3px;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 30px;
  }

  .flipdown .rotor-group {
    padding-right: 20px;
  }

  .flipdown .rotor-group:last-child {
    padding-right: 0px;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 0.8rem;
    height: 20px;
    line-height: 20px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    left: 69px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    bottom: 13px;
    height: 8px;
    width: 8px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    bottom: 29px;
    height: 8px;
    width: 8px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 50px;
  }

  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 50px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 25px;
  }
}
/* 
** Plugin: Gravity Forms
*/
body .gform_wrapper {
	width: 100%;
}
body .gform_wrapper form.gf_simple_horizontal div.gform_body {
	width: 90%;
	max-width: 90%;
}
body .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label {
	width: 10%;
	max-width: 10%;
}
body .gform_wrapper form.gf_simple_horizontal div.gform_body ul.top_label li.gfield {
	padding-right: 0;
}
body img.gform_ajax_spinner {
    display: none !important;
}
body .gform_wrapper .gform_footer input[type=submit] {
	border: 1px solid transparent;
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-normal;
}
body .gform_wrapper input[type=text], body .gform_wrapper input[type=email], body .gform_wrapper textarea {
    height: 60px;
    line-height: 40px;
    padding: 10px 20px;
    border: 2px solid #efefef;
    box-shadow: none;
    outline: 0;
    border-radius: 0!important;
}
body #gform_wrapper_1 {
	.gform_footer {
		padding: 0;
		
		input.button {
			padding: 0 1em;
			border: none;
			height: 60px;
			line-height: 60px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			border: none;
			height: 60px;
			line-height: 60px;
			padding: 0 2em;
		}
	}
}
body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
	@extend .form-control;
}
body .gf_simple_horizontal {
	width: 100%;
}
body .gf_simple_horizontal h4 {
	@extend .mt-2;
}
body #gform_confirmation_message_1 h4 {
	color: white;
}
body .img.gform_ajax_spinner {
	display: none !important;
}
body .gform_fields {
	padding: 0;
	margin: 0;
}
body .gform_fields li {
	list-style: none;
}
body .gform_validation_container {
	display: none;
}
@media(max-width: 576px) {
	body .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label,
	body .gform_wrapper form.gf_simple_horizontal div.gform_body {
		width: 100%;
		max-width: 100%;
	}
	#gform_wrapper_1 {
		margin: 0;
		
		.gform_footer {
			margin-top: 8px;
		}
	}
	#gform_wrapper_1 ul li.gfield {
		margin: 0;
	}
	#gform_wrapper_1 .top_label .gfield_label {
		font-size: $font-size-xs;
	}
	#gform_wrapper_1 .gform_footer {
		padding-top: 0;
	}
	#gform_wrapper_1 .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
		margin-bottom: 0;
	}
}

/* 
** Plugin: Shiftnav
*/
body {
	.shiftnav .shiftnav-panel-close {
		display: none !important;
	}

	.shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu li.menu-item > .shiftnav-submenu-activation {
		border-bottom: none !important;
	}
	.shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu li.menu-item > .shiftnav-submenu-activation.shiftnav-submenu-activation-open {
		color: black;
		background-color: transparent;
	}
	.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-active > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.shiftnav-in-transition > .shiftnav-target {
		background-color: #1C1C1C;
	}
	.shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu li.menu-item.current-menu-item > .shiftnav-target, .shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu > li.shiftnav-sub-accordion.current-menu-ancestor:not(.shiftnav-active) > .shiftnav-target {
		background-color: #F1F1F1;
		color: black;
	}
	.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item.shiftnav-active > .shiftnav-target, .shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.current-menu-item.shiftnav-active > .shiftnav-target {
		background-color: #1C1C1C;
		color: white;
	}
	.shiftnav.shiftnav-skin-light ul.shiftnav-menu li.menu-item.dark > .shiftnav-target {
		background-color: #1C1C1C;
		color: white;
		border-bottom-color: #444444;
	}
	.shiftnav.shiftnav-shiftnav-main ul.shiftnav-menu li.menu-item.current-menu-item.shiftnav-depth-1 > .shiftnav-target {
		background-color: white !important;
		color: black !important;
	}
}

/* 
** Plugin: Stripe ACH
*/
.ui-widget.ui-widget-content {
	border: none;
	background-color: $brand-xtreme;
	
	.ui-dialog-content {
		padding: 1em;
	}
	h3 {
		color: white;
		text-align: center;
		font-size: 16px;
		margin-bottom: 1em;
	}
	p {
		color: white;
		font-size: 14px;
		margin-bottom: 0;
	}
	label {
		color: white;
	}
	.ui-widget-header {
		display: none;
	}
	.ui-dialog-buttonpane {
		border: none;
		background-color: transparent;
		padding: 0;
		
		.ui-dialog-buttonset {
			float: none;
			
			button {
				margin: 0 0 1em 0;
				@extend .btn;
				@extend .btn-white;
				@extend .btn-sm;
			}
		}
	}
}
/* 
** Brand Colors
*/
.bg-rehv {
	background-color: $brand-rev-primary;
}
.store-rehv {
	.btn-primary, .button {
		background-color: $brand-rev-primary !important;
		border-color: $brand-rev-primary !important;
		color: black !important;
		
		&:hover {
			background-color: white !important;
			border-color: black !important;
			color: black !important;
		}
	}
	.btn-white {
		background-color: white !important;
		border-color: white !important;
		color: black !important;
		
		&:hover {
			background-color: black !important;
			border-color: black !important;
			color: white !important;
		}
	}	
	#footer-value-bar {
		background-color: $brand-rev-primary;
		
		a {
			color: black;
		}
	}
	#footer-value-bar {
		li:not(:last-child) {
			border-bottom-color: darken($brand-rev-primary, 10);
		}
	}
	#footer {
		.btn-primary {
			background-color: $brand-rev-primary;
			color: black;
		}
	}
	.summary {
		border-left-color: $brand-rev-primary !important;
		
		&:before, &:after { 
			background-color: $brand-rev-primary !important;
		}
	}
	a.button {
		border-color: $brand-rev-primary;
	}
	.woocommerce-breadcrumb {
		border-color: $brand-rev-primary;
	}
	.woocommerce-message {
		border-top-color: $brand-rev-primary;
		
		&:before {
			color: $brand-rev-primary;
		}
	}
	.product {
		#product-bottom {
			.woocommerce-tabs {
				ul.tabs {						
					li.active {
						border-bottom-color: $brand-rev-primary;
					}
				}
			}
		}
	}
}
